@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.bloque:nth-child(1) {
  align-self: flex-end;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform-origin: left; }

.bloque:nth-child(2) {
  align-self: flex-end;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform-origin: bottom; }

.bloque:nth-child(3) {
  align-self: flex-end;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform-origin: top; }

.bloque:nth-child(4) {
  align-self: flex-end;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform-origin: bottom; }

.bloque:nth-child(5) {
  align-self: flex-end;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform-origin: right; }

.bloque.sombra.blanca:nth-child(1) {
  animation-name: movBlockOne;
  animation-timing-function: ease-out; }

.bloque.sombra.blanca:nth-child(2) {
  animation-name: movBlockTwo;
  animation-timing-function: ease-out; }

.bloque.sombra.blanca:nth-child(3) {
  animation-name: movBlockThree;
  animation-timing-function: ease-out; }

.bloque.sombra.blanca:nth-child(4) {
  animation-name: movBlockTwo;
  animation-timing-function: ease-out; }

.bloque.sombra.blanca:nth-child(5) {
  animation-name: movBlockFive;
  animation-timing-function: ease-out; }

@keyframes movBlockOne {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%); }
  70% {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%); }
  100% {
    transform: translateX(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@keyframes movBlockTwo {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%); }
  70% {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@keyframes movBlockThree {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%); }
  70% {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@keyframes movBlockFive {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%); }
  70% {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%); }
  100% {
    transform: translateX(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
body {
  background-color: whitesmoke; }

.bloque:nth-child(1) {
  background-color: #244f75; }

.bloque:nth-child(2) {
  background-color: #60bfbf; }

.bloque:nth-child(3) {
  background-color: #8b4c7e; }

.bloque:nth-child(4) {
  background-color: #f8bb44; }

.bloque.bloque:nth-child(5) {
  background-color: #f24b4b; }

.bloque::before {
  background-color: rgba(189, 204, 189, 0.2); }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* .container {
    display: grid;
    grid-template-columns: repeat(5,1fr);//why is not working
    grid-template-rows: auto;
    height: 100vh;
    gap: 3px;
    overflow: hidden;
} */
.container-1 {
  flex-basis: 20%; }

.container-2 {
  flex-basis: 20%; }

.container-3 {
  flex-basis: 20%; }

.container-4 {
  flex-basis: 20%; }

.container-5 {
  flex-basis: 20%; }

.container {
  display: flex;
  flex-flow: row nowrap; }

.bloque {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  animation-timing-function: ease-out;
  animation-duration: 1.5s; }

.sombra::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transform-origin: center center;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  -webkit-transform: skew(20deg); }

.sombra:hover::before {
  cursor: pointer;
  transform: scaleX(2);
  -webkit-transform: scaleX(2);
  -moz-transform: scaleX(2);
  -ms-transform: scaleX(2);
  -o-transform: scaleX(2); }

* {
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-rendering: geometricPrecision; }

h1 {
  text-transform: uppercase;
  font-size: 350%;
  text-rendering: geometricPrecision; }

@media all and (max-width: 900px) {
  h1 {
    font-size: 275%; } }
@media all and (max-width: 700px) {
  h1 {
    font-size: 225%; } }
@media all and (max-width: 600px) {
  h1 {
    font-size: 175%; } }
@media all and (max-width: 450px) {
  h1 {
    font-size: 150%; } }
@media all and (max-width: 300px) {
  h1 {
    font-size: 100%; } }
