//we all have to jump into leaps of faith

//bgc
$myBgc: whitesmoke;

//stripes
$myStripes:  rgba(189, 204, 189, 0.2);

//ready for the loop?
$colorOne:#244f75;
$colorTwo:#60bfbf;
$colorThree:#8b4c7e;
$colorFour:#f8bb44;
$colorFive:#f24b4b;

//or map instead



body {
    background-color: $myBgc;
}

.bloque:nth-child(1) {

    background-color: $colorOne;
}
.bloque:nth-child(2) {

    background-color: $colorTwo;
}
.bloque:nth-child(3) {

    background-color: $colorThree;
}
.bloque:nth-child(4) {

    background-color:$colorFour;
}
.bloque.bloque:nth-child(5) {

    background-color: $colorFive;
}
.bloque::before {

    background-color:$myStripes;
}

