//grid general

// I am used to
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//grid
/* .container {
    display: grid;
    grid-template-columns: repeat(5,1fr);//why is not working
    grid-template-rows: auto;
    height: 100vh;
    gap: 3px;
    overflow: hidden;
} */

//for loop for grid, let/s see
//declaramos columnas
$columns: 5;

//for loop
@for $i from 1 through $columns {
    .container-#{$i} {
        flex-basis: (100 / ($columns)) * 1% ;
    }
}
//how do we see them, thanks Albert!!
.container{
    display: flex;
    flex-flow: row nowrap;
    
}

//revisar
 //flex all middle
.bloque  {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
     position: relative;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     //en este overflow radicaba el espacio you fool!!!!
     animation-timing-function: ease-out;
     animation-duration: 1.5s;
 }

 //sombra

.sombra::before {
    position: absolute;
    content: " ";
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform-origin: center center ;
    transform:skew(20deg);
    -webkit-transform:skew(20deg);
    -moz-transform:skew(20deg);
    -ms-transform:skew(20deg);
    -o-transform:skew(20deg);
    -webkit-transform: skew(20deg);
}
.sombra:hover::before {
    //display: inline-flex;
    cursor: pointer;
    transform: scaleX(2);
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
    -ms-transform: scaleX(2);
    -o-transform: scaleX(2);
}




 
