//we don't like to repeat, do we fool?
$alignment: flex-end;
$timeUp: 0.5s;
$howManyTimes: 1;

//map
$myDirection: ("one":left, "two":bottom, "three":top, "four":right);

//ease into it
$swing: ease-out;

//mixing
@mixin childFirst {
    align-self: $alignment;
    animation-duration: $timeUp;
    animation-iteration-count: $howManyTimes;
    transform-origin: map-get($map:$myDirection , $key:"one" );
    
}

@mixin childDuo {

    align-self: $alignment;
    animation-duration: $timeUp;
    animation-iteration-count: $howManyTimes;
    transform-origin: map-get($map: $myDirection, $key:"two" );
    
}

@mixin childMiddle {
    
    align-self: $alignment;
    animation-duration: $timeUp;
    animation-iteration-count: $howManyTimes;
    transform-origin:  map-get($map:$myDirection , $key:"three" );
}

@mixin childLast {
    
    align-self: $alignment;
    animation-duration: $timeUp;
    animation-iteration-count: $howManyTimes;
    transform-origin:  map-get($map:$myDirection , $key:"four" );
}


.bloque:nth-child(1){

    @include childFirst;

}

.bloque:nth-child(2){

    @include childDuo;

}

.bloque:nth-child(3){
    
    @include childMiddle;

}

.bloque:nth-child(4){
    
    @include childDuo;

}
.bloque:nth-child(5){
    
    @include childLast;

}

.bloque.sombra.blanca:nth-child(1) {

    animation-name: movBlockOne;
    animation-timing-function: $swing;
}

.bloque.sombra.blanca:nth-child(2) {

    animation-name: movBlockTwo;
    animation-timing-function: $swing;
}

.bloque.sombra.blanca:nth-child(3) {

    animation-name: movBlockThree;
    animation-timing-function: $swing;
}

.bloque.sombra.blanca:nth-child(4) {

    animation-name: movBlockTwo;
    animation-timing-function: $swing;
}

.bloque.sombra.blanca:nth-child(5) {

    animation-name: movBlockFive;
    animation-timing-function: $swing;
}


@keyframes movBlockOne {

    0% { transform:translateX(-100%) ; 
        -webkit-transform:translateX(-100%) ; 
        -moz-transform:translateX(-100%) ; 
        -ms-transform:translateX(-100%) ; 
        -o-transform:translateX(-100%) ;
}
    70% {
        transform: translateX(-5%) ;
        -webkit-transform: translateX(-5%) ;
        -moz-transform: translateX(-5%) ;
        -ms-transform: translateX(-5%) ;
        -o-transform: translateX(-5%) ;
}
    100% {
        transform: translateX(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

@keyframes movBlockTwo {

    0% { transform:translateY(100%); 
        -webkit-transform:translateY(100%); 
        -moz-transform:translateY(100%); 
        -ms-transform:translateY(100%); 
        -o-transform:translateY(100%);
}
    70% {
        transform: translateY(10%) ;
        -webkit-transform: translateY(10%) ;
        -moz-transform: translateY(10%) ;
        -ms-transform: translateY(10%) ;
        -o-transform: translateY(10%) ;
}
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

@keyframes movBlockThree {

    0% { transform:translateY(-100%) ; 
        -webkit-transform:translateY(-100%) ; 
        -moz-transform:translateY(-100%) ; 
        -ms-transform:translateY(-100%) ; 
        -o-transform:translateY(-100%) ;
}
    70% {
        transform: translateY(-10%) ;
        -webkit-transform: translateY(-10%) ;
        -moz-transform: translateY(-10%) ;
        -ms-transform: translateY(-10%) ;
        -o-transform: translateY(-10%) ;
}
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

@keyframes movBlockFive {

    0% { transform:translateX(100%); 
        -webkit-transform:translateX(100%); 
        -moz-transform:translateX(100%); 
        -ms-transform:translateX(100%); 
        -o-transform:translateX(100%);
}
    70% {
        transform: translateX(5%) ;
        -webkit-transform: translateX(5%) ;
        -moz-transform: translateX(5%) ;
        -ms-transform: translateX(5%) ;
        -o-transform: translateX(5%) ;
}
    100% {
        transform: translateX(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}
