@media all and (max-width:900px) {
    
    h1 {
        font-size: 275%;
    }
}
@media all and (max-width:700px ){

    h1 {
        font-size: 225%;
    }
}
@media all and (max-width:600px) {
    
    h1 {
        font-size: 200%;
    }
}
@media all and (max-width: 450px) {

    h1 {
        font-size: 150%;
    }
}
@media all and (max-width:300px) {
    
    h1 {
        font-size: 100%;
    }
}