@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-rendering: geometricPrecision;
    
}

h1 {
    text-transform: uppercase;
    font-size: 350%;
}